*,
*:before,
*:after {
  /* + prevents padding from affecting height and width */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent; /* + Hides the blue square highlight when clicking on stuff */
  outline: none; /* + Hides the weird yellow outline in textareas  */
}

html {
  scroll-behavior: smooth;
  overflow-x: clip;
  cursor: context-menu;
}

body {
  margin: 0;
  padding: 0;
}

/* + HIDES THE SCROLLBAR BUT LEAVES THE ABILITY TO SCROLL*/
body::-webkit-scrollbar {
  display: none;
  overflow-x: clip;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}

textarea {
  resize: none;
  overflow: hidden;
}